@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

.test {
  color: red;
}

.img-doctor {
  background-image: url("https://raw.githubusercontent.com/akmalays/upload-image/main/imghome.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
